doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 About
        p.smallwidth
            | This is an botlist website where you will find many bots of different categories. If you have any problem you can join our discussion server and feel free to clear your queries.
  

   
 



        





        br
        a#back.button(href='javascript:history.back()') Back
